*{
	box-sizing: border-box;
}
.navbar-color{
	background-color: #3bc4a7;
}
.nav-link:hover{
	background-color: #09eb6b;
}
#page{
	background-color: #09eb6b;
	color: white;
	height: 1200px;
}
.sec-title{
	margin-top: 10px;
	text-align: center;
}
.sec-desc{
	font-size: 15px;
}
#sec1,#sec2,#sec3{
background-color:#09ebba;
margin-top: 20px;

}

.back{
	text-decoration: none;
	color: white;
}
a:hover{
	color:#f4fc03;
}
@media(min-width: 992px){
	#sec1,#sec2,#sec3{
background-color:#09ebba;
margin-top: 20px;
height: 700px;

}
}
