.navbar-color{
	background-color: #3bc4a7;
}

.page{
	background-color: #09eb6b;
	color: white;
	height: 1200px;
}
.sec-title{
	margin-top: 10px;
	text-align: center;
}
#sec1,#sec2,#sec3{
	margin-top: 20px;
	background-color:#09ebba;
	padding: 20px;
	height: 700px;
}
.sec-desc{
	font-size: 15px;
}
.main-content{
	padding: 10px;
}
.back{
	text-decoration: none;
	color: white;
}
a:hover{
	color:#f4fc03;
}
/* Medium View */
@media (min-width: 574px){
	#sec1, #sec2, #sec3 {
    margin-top: 20px;
    background-color: #09ebba;
    padding: 20px;
    height: 500px;
}
}
/*Mobile View*/
@media(max-width: 573px){
#sec1,#sec2,#sec3{
	height: 250px;
}
}
